{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "@strv/react",
    "@strv/react/optional",
    "@strv/react/style",
    "plugin:prettier/recommended"
  ],

  "rules": {
    "no-shadow": "off",
    "react/react-in-jsx-scope": "off",
    "react/prop-types": "off",
    "react/jsx-one-expression-per-line": "off",
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }]
  },
  "settings": {
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "env": {
    "jest": true
  },
  "globals": {
    "module": "readonly"
  }
}
